# Restrict end time of requests to current time - realtimeGap seconds. Negative
# values are allowed. Used in fdsnws-dataselect.
# WARNING: If this value is unset and a real-time RecordStream (e.g. slink) is
# used, requests may block if end times in the future are requested.
realtimeGap = 60

# Maximum number of samples (in units of million) per query, used in
# fdsnws-dataselect to prevent a single user to block one connection with a
# large request.
samplesM = 9

# Path to access log file. If unset, no access log is created.
accessLog = @CONFIGDIR@/log

# Enable/disable the Availability service. Note: This is a non standard FDSNWS
# extension served under fdsnws/ext/availability.
serveAvailability = true

# Number of decimal places used for station and sensor location coordinates. If
# specified, the coordinates are obfuscated when the inventory is read on
# service startup or reload.
inventoryCoordinatePrecision = 6

# Enable loading of data availabilty information from SeisComP database.
# Availability information is used by station and ext/availability service.
dataAvailability.enable = true
