# Title of the web page used as heading.
title = "SeedLink Monitor"

# Sets the logging level between 1 and 4 where 1=ERROR, 2=WARNING, 3=INFO and
# 4=DEBUG.
logging.level = 4

# Refresh interval of the generated web page used by the browser. The interval
# should be similar to the interval for starting slmon. If empty, the web page
# must be manually refreshed from within the browser.
refresh = 60

# Host of the Seedlink server to connect to. If the acquisition is running on
# one system nothing needs to be changed.
address = 127.0.0.1

# The port of the Seedlink server to connect to. If the acquisition is running
# on one system this port must match the configured local Seedlink port.
port = 18000

# e-mail address added to web pages.
email = jchang@usgs.gov

# Output directory of the web pages.
wwwdir = @ROOTDIR@/var/run/@NAME@

# Favicon URL of the web pages. Not mandatory.
icon = http://www.gfz-potsdam.de/favicon.ico

# Name of Link shown in footer of web pages.
linkname = GEOFON

# URL referred to by linkname in footer of web pages.
linkurl = http://www.gfz-potsdam.de/geofon/

# URL to live seismograms. %s will be replaced by station name. Not mandatory.
liveurl = http://geofon.gfz-potsdam.de/waveform/liveseis.php?station=%s
